<div class="container">
  <br>
  <mat-card>
    <section class="mat-typography">
      <h1>Employee_Registration_Form</h1>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
         <label>Employee Name</label>
        <input matInput formControlName="title" #title>
        <!--<mat-error *ngIf="createForm.controls['title'].errors.required">
          Title is <strong>required</strong>
        </mat-error>-->
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label>Project_Name</label>
        <input matInput formControlName="responsible" #responsible>
      </mat-form-field>
      <mat-form-field class="field-full-width">
         <label>Remarks</label>
        <textarea matInput #description></textarea>
      </mat-form-field>
      <mat-form-field>
         <label>Rating</label>
          <mat-select formControlName="severity" #severity>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="addIssue(title.value, responsible.value, description.value, severity.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>